body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;

}

.title {
    text-align: center;
}

.title-gif {
    display: block;
    margin: auto;
    width: 50%;
    border-radius: 10%;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}

.recipe-option a:link,a:visited{
    color: black;
    text-decoration: underline dashed blue;
    text-underline-offset: 3px;
    padding: 2px;
}

.recipe-option a:hover {
    background-color: hsl(240, 100%, 50%, 20%);
    border-radius: 10%;
    padding: 2px;
}

footer {
    
}